%a{:href=>"", :id=>"poster"}POST my  data packet!
#div.data

:javascript
	$(document).ready(function(){
		$('#poster').click(function(e){
			e.preventDefault();
			// to test just have the url be '/pages/post'
			$.post(
				"http://join_railslove.herokuapp.com/join", 
				{ 
					"message": "You should hire John Quarto-vonTivadar",
					"why": "Because he's super smart",
					"and why else": "and also because you'll get to laugh a lot when he tries to speak German",
					"who else thinks so": "Just ask Nick Sutterer. John's been helping him re-write the Apotomo/Cells tutorials.",
					"other skills?": "Yes, apart from tech, John has an extensive business background and has written several books.",
					"how can we learn more?": "you can check out http://quartolove.herokuapp.com",
					"email": "john@johnquarto.com",
					"skype": "jcquarto",
					"github": "jcquarto",
					"personal website": "www.johnquarto.com",
					"name": "John Quarto-vonTivadar",
					"wow, how lucky Railslove would be to hire John": "Everyone agrees! :)",
					"where is this bozo from?": "Austin, Texas, y'all!"
				},
				{contentType: 'application/json'}
			);
			
		});
	});
